<html>

<head>
  <title>Lista Products Admin</title>
  <style>
    ul.enc li {
      display: inline;
    }

    ul{
      padding:0px;
      padding-top: 20px;
    }

    li{
      display: block;
      padding: 5px 4px 6px 30px;
      margin-top: 3px;
      margin-bottom: 3px;
      list-style: none;

      /* text-align:center; */
    }
    li + li {
      border-top: 1px solid #e1e3e5;
    }
    li:hover {
      background-color: #f7f8f8;
    }

    .marco {
      width: 50px;
      height: 40px;
      position: absolute;
      top: 50%;
    }
  </style>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</head>

<body>
<div aling="Center">
  <h2>Productos Admin.</h2>
</div>

  <div id='vueapp'>
    <div aling="center">
            <p>
                <select v-model="selected">
                    <option value="">Todos</option>
                    <option v-for="option in options" v-bind:value="option.id_usr">
                      {{ option.mail }}
                    </option>
                  </select>
                 <!-- <span>Seleccionado: {{ selected }}</span> -->
            </p>

            <p>
             <label>Producto: </label>
             <input type="text" name="txtNombre" id="txtNombre" v-model="txtNombre" size="10" onKeyUp="document.getElementById(this.id).value=document.getElementById(this.id).value.toUpperCase()">&nbsp;&nbsp;
             <label>Sku: </label>
             <input type="text" name="txtSku" id="txtSku" v-model="txtSku" size="10" onKeyUp="document.getElementById(this.id).value=document.getElementById(this.id).value.toUpperCase()">&nbsp;&nbsp;
             <label>Precio minimo: </label>
             <input type="text" name="txtPI" id="txtPI" v-model="txtPI" size="5" >&nbsp;&nbsp;
             <label>Pecio maximo: </label>
             <input type="text" name="txtPF" id="txtPF" v-model="txtPF" size="5" >&nbsp;&nbsp;
             <input name="id" id="id" type="hidden"  value=>
             <button v-on:click="Salir()" style="FONT-FAMILY: verdana; border-radius: 8px">Salir</button>
             <button v-on:click="Buscar(txtNombre, txtSku, txtPI, txtPF)" style="FONT-FAMILY: verdana; border-radius: 8px">Buscar</button>
           </p>
   </div>


        <div class="container">
           <table class="table table-hover">
              <thead bgcolor="#e9ecef">
                 <tr>
                   <th scope="col">Id</th>
                   <th scope="col">Nombre</th>
                   <th scope="col">Sku</th>
                   <th scope="col">Cantidad</th>
                   <th scope="col">Precio</th>
                 </tr>
              </thead>
              <tbody>
                 <tr v-for="r in regs" :key="r.Id">
                   <th scope="row">{{r.id}}
                   <td>{{r.name}}</td>
                   <td>{{r.sku}}</td>
                   <td>{{r.quantity}}</td>
                   <td>{{r.price}}</td>
                 </tr>
              </tbody>
           </table>
        </div>
  </div>
  <!-- Importamos Vue.js (Siempre al final) -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  <script src="https://unpkg.com/vue-resource"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</body>

</html>

<script>
var app = new Vue({
el: '#vueapp',
  data: {
      txtNombre: '',
      regs: [],
      selected: '...',
      options: [],
      sellerSelec: {},
      },
  methods: {
      Regresar: function(){
         //alert('Regresar.');
         window.location.href = 'index.html';
      },
      Buscar: function(sName, sSku, sPI, sPF){
        let self = this;
        var sPI = document.getElementById("txtPI").value;
        var sPF = document.getElementById("txtPF").value;
        if(isNaN(sPI) && sPI != ''&& sPI != '0'){
          alert ('Por favor ingrese un número valido para el monto minimo .');
          //window.document.frmOrden.txtCantidad.focus();
        } else if(isNaN(sPF) && sPF != '0' && sPF != ''){
          alert ('Por favor ingrese un número valido para el monto minimo .');
          //window.document.frmOrden.txtCantidad.focus();

        } else{
          //alert(this.selected);
          axios.request({
          method: 'POST',
          url: `/product/search/`,
          headers: {
              'Content-Type': 'application/json'
          },
          data: {
            "id": this.selected, "name": sName, "sku": sSku, "pi": sPI, "pf": sPF,
          },
          //body: datUser
          }).then((res)=>{
            this.regs = JSON.parse(res.data)

          }).catch((err)=>{
            console.log("Error api call unsucessfull",err);
          //this.props.toggleLoading(false);
          })
        } //FIN del if
      },
      Salir: function(){
        //window.location.href = "http://127.0.0.1:8000/listproduct.html?id="+sId
        history.go(-1)
      },
      Reload: function(){
        //alert('Reload.');
        this.reloadList();
      },
      reloadList: function() {

        var datUser = {
            mail: "hugobh@comprarmas.com.mx",
            pwd: "",
            opt: "seller",
        };
        var config = {
            method: 'get',
            url: '/control/lp',
            headers: {
                'Content-Type': 'application/json',
            },
            body: datUser,
        };

        axios.request({
        method: 'POST',
        url: `/control/lp`,
        headers: {
            'Content-Type': 'application/json'
        },
        data: {
            mail: 'hugobh@comprarmas.com.mx', "pwd":"", opt: 'seller'
        },
        body: datUser

        }).then((res)=>{
            console.log("api call sucessfull ok: ", res.data);
            this.regs = JSON.parse(res.data)

        }).catch((err)=>{
            console.log("Error api call unsucessfull",err);
        //this.props.toggleLoading(false);
})

      },
    },

  created: function() {
        axios.get('/product/admin/')
            .then(res => {
            this.options = JSON.parse(res.data)
            console.log("Sellers: " + res.data)
        })
        //this.reloadList();
      }
});

</script>
